<h1>Listing completed_checkpoints</h1>

<table>
  <thead>
    <tr>
      <th>Checkpoint</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_checkpoints.each do |completed_checkpoint| %>
      <tr>
        <td><%= completed_checkpoint.checkpoint_id %></td>
        <td><%= completed_checkpoint.student_id %></td>
        <td><%= link_to 'Show', completed_checkpoint %></td>
        <td><%= link_to 'Edit', edit_completed_checkpoint_path(completed_checkpoint) %></td>
        <td><%= link_to 'Destroy', completed_checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Completed checkpoint', new_completed_checkpoint_path %>
